<div class='about'>
	<h1>About Travis!</h1>
	<p>I grew obsessed with spreadsheets and data tracking in 2008 when I was finally learning what a recession is. I started with counting where every dollar I earned was being spent.
	Then I wanted to know how efficient my gas mileage and expeditures were.
	Then I wanted to know fast of a runner I was.
	Then I wanted to know how fast of a cyclist I was.
	Then I wanted to know how much money I was saving by cycling.
	It even got to the point where I wanted to see how often and where I was posting at the the web forums I visited most (mainly www.macrumors.com). That was an interesting use of time.</p>

	<p>Perhaps I was a little obsessive about my tracking stats? Perhaps...</p>

	<p>Most of the time this data was being kept in some crazy spreadsheet along with some ridiculous graphs, but I felt the results were worth the pain of using MS Excel so much.
	After a few years of this I was turned on to the DevBootcamp by a good friend and from there on I knew that I needed to stop wasting time in Excel and probably ante up and
	learn a proper programming language, or two.</p>

	<p>Anyway, after switching away from Acoustical Engineering to pursue web development I knew that my obsessions of tracking data had been opened up to a whole new set of tools.
	Currently I am a front-end/fullstack developer at <a href='https://www.sincerely.com'>Sincerely Inc.</a> and a happy dad and husband at home in San Francisco.</p>
</div>
