<div class='header-container'>
	<robot-head></robot-head>
	<div class='home-title'>
		<a ui-sref='redundant.home'>
			<h1>REDUNDANT</h1><h1 class='header-accent-color'>ROBOT</h1>
		</a>
	</div>
    <ul class='social-icons'>
        <li><a href='https://github.com/travisl12' target='_blank'><img src='/public/images/social/github_social_media_logo.svg'></a></li>
        <li><a href='https://www.twitter.com/travisl12' target='_blank'><img src='/public/images/social/online_social_media_twitter.svg'></a></li>
        <li><a href='https://www.linkedin.com/in/travis-lawrence-b77400b8' target='_blank'><img src='/public/images/social/online_social_media_linked_in.svg'></a></li>
        <li><a href='mailto:travis.lawrence12@gmail.com'><img src='/public/images/social/email_mail_envelope_send_message.svg'></a></li>
    </ul>
</div>
