<div class='logo'>
	<div class='cube-container'>
		<div class='cube'>

			<div class='side' id='front'>
				<div class='robot-head'>
					<div class='left-eye'></div>
					<div class='right-eye'></div>
					<div class='left-ear'></div>
					<div class='right-ear'></div>
					<div class='mouth'></div>
				</div>
				<p>REDUNDANT</p>
			</div>

			<div class='side' id='back'>
				<div class='robot-head'>
					<div class='left-eye'></div>
					<div class='right-eye'></div>
					<div class='left-ear'></div>
					<div class='right-ear'></div>
					<div class='mouth'></div>
				</div>
			</div>

			<div class='side' id='left'>
				<div class='robot-head'>
					<div class='left-eye'></div>
					<div class='right-eye'></div>
					<div class='left-ear'></div>
					<div class='right-ear'></div>
					<div class='mouth'></div>
				</div>
			</div>

			<div class='side' id='right'>
				<div class='robot-head'>
					<div class='left-eye'></div>
					<div class='right-eye'></div>
					<div class='left-ear'></div>
					<div class='right-ear'></div>
					<div class='mouth'></div>
				</div>
			</div>

		</div>
	</div>
	<h1>ROBOT</h1>
</div>

<div class='content'>
	<p>Redundant Robot will finally begin to be updated little by little. I haven't touched the SheepShaver tutorial since I wrote it more than 10 years ago but I still get people cruising through and the occasional email asking questions about getting these emulators running. If you just want to give a shout out hit me up on <a href='https://twitter.com/travisl12'>twitter</a>, otherwise if you have questions I'm still available <a href='mailto:travis.lawrence12@gmail.com'>by email</a>. Thanks again!</p>

	<h4>The main reason most of you are here</h4>
	<ul><li><a ui-sref='redundant.sheepshaver'>SheepShaver Tutorial</a></li></ul>

	<h4>Some Demos I've been working on</h4>
	<ul>
		<li><a href='digital_clock/'>Digital Clock Demo in CSS/JS</a></li>
		<li><a href='key_iano/'>Key-iano (demo)</a></li>
		<li><a href='tab_builder/'>Build guitar tabs!</a></li>
	</ul>
</div>
