<div class='sheepshaver'>

	<ul>
		<li><a href="sheepshaver_files/disk_images/MacStartupOS7.img">MacStartupImage (30mb)</a></li>
		<li><a href="http://www.stuffit.com/downloads/std-downloadv.html">Stuffit Expander v.5.5</a></li>
	</ul>

	<div class='text'>
		So you have downloaded <a href="http://basilisk.cebix.net/">Basilisk II</a> (<a href="http://www.emaculation.com/forum/viewtopic.php?f=6&t=7361&sid=89e92b23a3a058811d74b286fe8fb2cd">Download)</a> or <a href="http://sheepshaver.cebix.net/">SheepShaver</a> (<a href='http://www.emaculation.com/forum/viewtopic.php?f=20&t=7360'>Download</a>) and you are dreaming about Getting your old Mac Software up and running huh?<br><br>But where to start? With your modern Mac you start opening up the Emulators and start getting to it only to realize that you need a few things don't you?
	</div>

	<ul>
		<li>Emulator Software</li>
		<li>Old Mac OS (typically System 7 – System 9.0)</li>
		<li>A Startup Disk</li>
		<li>Create a Hard Drive Image</li>
		<li>An Old Mac ROM (which might sound confusing)</li>
		<li>A Way to get old Software onto your New Mac!</li>
	</ul>

	<h4>1. Choosing the Emulator and ROM</h4>

	<div class='text'>
		If you're interested in running Mac OS System 1.0 to 8.1 you will want to use Basilisk II. Otherwise for Mac OS System 8.1+ you will want to use SheepShaver.<br>
		<img src="public/images/sheepshaver/welcome-to-mac.jpg"><br>
	</div>

	<ul>
		<li><a href="sheepshaver_files/roms/mac_oldworld_rom4mb.rom.zip">Old World 4mb ROM</a></li>
		<li><a href="sheepshaver_files/roms/newworld86.rom.zip">New World PPC ROM</a> (best for SheepShaver)</li>
		<li><a href="sheepshaver_files/roms/Apple2e.zip">Apple II ROM</a></li>
		<li><a href="sheepshaver_files/roms/1mbMacrom.zip">Performa ROM</a> (I've experienced best Results with Basilisk II)</li>
		<li><a href="sheepshaver_files/roms/Quad650.zip">Quadra 650 ROM</a></li>
		<li><a href="sheepshaver_files/roms/Quadra.zip">Quadra 900 ROM</a></li>
		<li><a href="sheepshaver_files/roms/vmac.rom.zip">Mac Classic ROM</a> (Never gotten this to really work, but I'll include it)</li>
	</ul>

	<div class='text'>I only put this section before creating a Hard Drive Image, because this is a pretty easy step. All you have to do is visit Apple's FTP site of Old Software, and you can download OS 7.0.1 or 7.5.3.</div>

	<ul>
		<li><a href="sheepshaver_files/disk_images/OS9.img">Mac OS 9 Boot Image (120 megs)</a> (Bootable Image For SheepShaver! Download place in Volumes and hit Start!)</li>
	</ul>

	<h4>3. Making a Hard Drive Disk Image</h4>
	<p><span>With Classic Mode Installed</span></p>
	<p>This is again a pretty easy step, but it can be a pain in the ass if you don't have Classic Mac OS, running under Mac OS X on your modern Mac. All you need is a copy of <a href="http://download.info.apple.com/Apple_Support_Area/Apple_Software_Updates/English-North_American/Macintosh/Utilities/Disk_Copy/">Disk Copy</a> and run it in Classic environment and create a new image of whatever sizes you want. I usually make an image of 200 – 500 Mb depending on how much space of your real Hard Drive you want to give up.</p>
	<p><span>With NO Classic Mode Installed</span></p>
	<p>Ok, now if you don't have Classic Mac OS installed on your modern Mac then I cannot guarantee that I have a solution but I will tell you how I figured a way around this.</p>
	<p>Alright, open up Disk Utility from your Applications folder and go ahead and create a new image of whatever size. Now put your new <em>.DMG</em> file in the directory of Basilisk and you will now have to initialize your new drive by booting up your Macintosh using the Disk Tools.img as your boot device. To do this you will need to enter Basilisk and under preferences add your Drive Image, and the Disk Tools Image.</p>
	<p>
		<a href="public/images/sheepshaver/initializedrive.jpg"><img class="alignnone size-medium wp-image-12" title="initializedrive" src="public/images/sheepshaver/initializedrive.jpg" alt="" width="300" height="249" /></a>
	</p>
	<p><!--StartFragment--></p>
	<p>Ok so you should be able to hit save and start the emulator and it will run, eventually giving you this screen.</p>
	<!--EndFragment-->

	<!--EndFragment-->
	<p>
		<a href="public/images/sheepshaver/erasedrive.jpg"><img class="alignnone size-medium wp-image-11" title="erasedrive" src="public/images/sheepshaver/erasedrive.jpg" alt="" width="300" height="150" /></a>
	</p>
	<p><!--StartFragment--></p>
	<p>Alright, and once the initialization is all done you are ready to shut down and prepare for installation of Mac OS onto your Hard Drive Image.</p>
	<h4>4. Installing Mac OS onto your Disk Image Drive</h4>
	<p>Now assuming that everything is all set with your disk image and you have the correct ROM you can go ahead and install an operating system. I am going to demonstrate using System 7 as provided from Apple's own <a href="http://download.info.apple.com/Apple_Support_Area/Apple_Software_Updates/English-North_American/Macintosh/System/Older_System/System_7.0.x/">FTP files</a>. As I mentioned earlier the Disk Tools disk can be used to make sure that everything will boot correctly. For this purpose I will give a picture of what the Basilisk Preference window should look like and also break down what each preference is.</p>
	<p>
		<a href="public/images/sheepshaver/systeminstalldisk.jpg"><img class="alignnone size-medium wp-image-13" title="systeminstalldisk" src="public/images/sheepshaver/systeminstalldisk.jpg" alt="" width="300" height="296" /></a>
	</p>
	<p><!--StartFragment--></p>
	<p>Assuming that everything is setup correctly then the emulator is ready to run (although I'm sure you couldn't help trying it at least once up to this point).</p>
	<p>Under Preferences&gt;Disk Volumes, the System install disks should be added AND the Disk Image Drive to install onto (Very important!). And then you are able to boot up the system and the desktop should appear with all 6 of the disks located on the desktop and the disc image drive (MacHD in the picture below).</p>
	<p>
		<a href="public/images/sheepshaver/basiliskpreference.jpg"><img class="alignnone size-medium wp-image-9" title="basiliskpreference" src="public/images/sheepshaver/basiliskpreference.jpg" alt="" width="300" height="292" /></a>
	</p>
	<p><!--StartFragment--></p>
	<p>From here on it is just a matter of opening up the Install 1 disk and proceeding with the installation, a very fast installation that is. Once the install is complete the disks can be removed from the Disk Volume preferences panel in Basilisk and you are ready to go.</p>

</div>
