$head-height: 60px;
$head-margin: $head-height * 0.4;
$eye-side-distance: 20%;
$eye-top-distance: 20%;
$ear-thickness: $head-height * 0.20;
$lip-thickness: $head-height * 0.04;

.eye {
  position: absolute;
  background: yellow;
  border: 1px solid gold;
  top: $eye-top-distance;
  width: 20%;
  height: 23%;
  border-radius: 50%;
}
.ear {
  position: absolute;
  height: 0;
  width: 0;
  top: 30%;
  border-top: $ear-thickness solid transparent;
  border-bottom: $ear-thickness solid transparent;
}

.robot-head {
  position: relative;
  background: radial-gradient(white, lightblue 75%);
  width: $head-height * 1.14;
  height: $head-height;
  border-radius: 8% 8% 3% 3%;
  margin: $head-margin auto 0;
  .left-ear {
    @extend .ear;
    border-left: $ear-thickness solid transparent;
    border-right: $ear-thickness solid lightblue;
    left: -$ear-thickness * 2;
  }
  .right-ear {
    @extend .ear;
    border-right: $ear-thickness solid transparent;
    border-left: $ear-thickness solid lightblue;
    right: -$ear-thickness * 2;
  }
  .left-eye {
    @extend .eye;
    left: $eye-side-distance;
  }
  .right-eye {
    @extend .eye;
    right: $eye-side-distance;
  }
  .mouth {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    text-align: center;
    &:after {
      content: '';
      display: inline-block;
      border-top: $lip-thickness solid red;
      width: 35%;
      height: 100%;
    }
  }
}
