.sheepshaver {
  @include catamaran-font;
  font-weight: 400;

  .logo h1 { font-size: 80px; }  

  ul {
    list-style: disc;
    padding-left: 20px;
  }
  .text {
    margin: 10px 0;
  }
  .image-container {
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}
