$color-1: #56A3A6; // cadet blue
$color-2: #778E6F; // camoflage green
$color-3: #A6EAB1; // light green/yellow
$color-4: #D4EAC8; // tea green
$color-5: #C0D8E0; // light blue/purple

@mixin catamaran-font($weight:900) {
  font-family: 'Catamaran', 'Helvetica neue', sans-serif;
  font-weight: $weight;
}

@import 'robot.scss';
@import 'animations.scss';
@import 'cube.scss';
@import 'grid.scss';

body {
  margin: 0;
  background-color: $color-4;
  @include catamaran-font;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-decoration: none;
  }
}

.background-robot {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: -1;
  @include build-robot(500px, $color-1);
}

.container {
  position: relative;
  padding: 50px;
  margin: 0 auto;
  width: 60%;
  min-height: 100vh;
  background: rgba(255,255,255,0.75);
  @import 'sheepshaver.scss';
  .logo {
    text-align: center;
    h1 {
      display: inline-block;
      @include catamaran-font;
      font-size: 110px;
      line-height: 135px;
      margin: 0;
      margin-left: 50px;

      text-shadow: -4px -4px 4px #e8e8e8, 2px 2px 2px #bcbcbc, 4px 4px 4px #9c9c9c;
    }
  }
  .content {
    h4 { margin-bottom: 0; }
  }
}
