<div class='header'>
  <div class='header-container'>
    {% include robot_cube.html %}
    <div class='header-title'>
      <a class='no-border' href='/'>
        <h1>REDUNDANT</h1><h1 class='header-accent-color'>ROBOT</h1>
      </a>
    </div>

    <div class='nav-links'>
      <ul class='site-links'>
        <li><a class='no-border' href='/projects'>Projects</a></li>
        <li><a class='no-border' href='/about'>About</a></li>
      </ul>

      <ul class='social-links'>
        <li><a class='no-border' href='https://github.com/travisl12' target='_blank'><img src='/images/social/github_social_media_logo.svg'></a></li>
        <li><a class='no-border' href='https://www.twitter.com/travisl12' target='_blank'><img src='/images/social/online_social_media_twitter.svg'></a></li>
        <li><a class='no-border' href='https://www.linkedin.com/in/travis-lawrence-b77400b8' target='_blank'><img src='/images/social/online_social_media_linked_in.svg'></a></li>
        <li><a class='no-border' href='mailto:travis.lawrence12@gmail.com'><img src='/images/social/email_mail_envelope_send_message.svg'></a></li>
      </ul>
    </div>

  </div>
</div>
