.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  @include catamaran-font(400);
  font-size: 1.6rem;
  background: rgba(255,255,255, 0.8);
  padding: 20px 0;
  box-shadow: 0 0px 10px 0px rgba(0,0,0,0.5);

  .header-container {
    max-width: $page-width;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .header-title {
      display: inline-block;
      margin-left: 2rem;

      h1 {
        margin: 0;
        color: $black;
        letter-spacing: -0.12rem;
        line-height: 3rem;

        &.header-accent-color {
          color: $color-6;
          text-shadow: 0.2rem 0.2rem 0.05rem $black;
          letter-spacing: 2rem;
        }
      }
    }

    .nav-links {
      display: flex;
      justify-content: flex-end;
      flex: 1;

      a {
        color: $black;
      }

      .site-links,
      .social-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .site-links {
        width: 200px;
      }

      .social-links {
        width: 250px;
        li img {
          width: 3.5rem;
        }
      }
    }
  }
}
