.desktop {
  flex: 1;
  background: lightgreen;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-robot {
    opacity: 0.3;
    @include build-robot(250px, $color-1);
  }
}
