.background-robot {
  opacity: 0.3;
  @include build-robot(300px, $color-1);
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  resize: both;
  overflow: scroll;
  background: #eee;
  box-shadow: -2px 2px 20px 5px $transparent-black;
  border-radius: $desktop-border-radius;

  &.active .window-title-bar {
    background: #aaa;
  }

  .window-title-bar {
    font-weight: 800;
    text-align: center;
    background: #ddd;
    padding: 3px 0;
  }

  .window-buttons {
    position: absolute;
    left: 0;

    button {
      border: none;
      background: none;
    }
  }

  .window-body {
    flex: 1;
    overflow: scroll;
  }
}
