.desktop {
  position: relative;
  flex: 1;
  background: lightgreen;
  border-bottom-left-radius: $desktop-border-radius;
  border-bottom-right-radius: $desktop-border-radius;

  .background-robot {
    opacity: 0.3;
    @include build-robot(300px, $color-1);
  }
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background: #eee;
  box-shadow: -2px 2px 20px 5px rgba(0, 0, 0, 0.2);

  .window-title-bar {
    font-weight: 800;
    text-align: center;
    background: #aaa;
    padding: 3px 0;
  }
  .window-body {
    flex: 1;
  }
}
