.menu-bar {
  font-size: 1.4rem;
  background: white;
  padding: 0 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .menu-item {
    padding: 6px 4px;
    box-sizing: border-box;
  }

  & > .main-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 100px));

    & > .menu-item {
      position: relative;

      &:hover {
        background: #eee;

        & > .sub-menu {
          display: block;
        }
      }

      & > .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        .menu-item {
          cursor: pointer;
          background: pink;
          width: 100%;
        }
      }
    }
  }
}
