@media (max-width: 1100px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .header {
    height: 15rem;

    .header-container {
      justify-content: space-evenly;
      flex-direction: column;

      .cube-container {
        display: none;
      }

      .home-title {
        margin: 0;
      }
    }
  }
}
